@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f7fb;
  color: #0f172a;
  font-family: "Inter", sans-serif;
}

::selection {
  background: #38bdf8;
  color: white;
}