@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #060816;
  color: #f8fafc;
  font-family: sans-serif;
  overflow-x: hidden; /* penting */
  position: relative;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #060816;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 999px;
}

/* TEXT SELECTION */
::selection {
  background: #38bdf8;
  color: white;
}

/* OPTIONAL: ambient glow tambahan (halus global) */
body::before,
body::after {
  content: "";
  position: fixed;
  top: 50%;
  width: 600px;
  height: 600px;
  transform: translateY(-50%);
  filter: blur(140px);
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}

/* LEFT GLOW (BLUE) */
body::before {
  left: -250px;
  background: radial-gradient(circle, #38bdf8, transparent 60%);
}

/* RIGHT GLOW (INDIGO) */
body::after {
  right: -250px;
  background: radial-gradient(circle, #6366f1, transparent 60%);
}